.ipynb_checkpoints/
230327 - Brouillon.ipynb
notes.docx
p2-arbres-fr.csv
Tuto Git Tato.txt
images/
Patin_Clement_2_presentation_032023.pptx
Participez_a_un_concours_sur_la_smart_city_patin_clement.zip
